body, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oxygen', sans-serif;
}

.vaaleanpunainen {
    background-color: #ffaae9;
}

.vihreä {
    background-color: #dffd80;
}

.oranssi {
    background-color: #ffeea9;
}

.main-container {
    max-width: 62.5em;
    margin: auto;
}

.main-header {
    width: 100%;
    float: left;
    height: 45px;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner {
    margin-bottom: 1em;
    float: left;
    width: 100%;
}

.content-row {
    float: left;
    width: 100%;
}

footer {
    display: flex;
    font-family: 'Pacifico', cursive;
    justify-content: center;
    width: 100%;
    color: black;
    padding: 1em 0 1em 0;
    margin-top: 1em;
}

.tunnus {
    float: left;
    width: 12.5em;
    height: 45px;
    color: black;
}

.tunnus a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 45px;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
}

.search-block {
    margin: 0 1em 0 0;
}

.search-block form {
    float: right;
}

.search-field {
    border-radius: 10px 0 0 10px;
    border: 0;
    height: 26px;
    padding: 5px 10px;
    display: block;
    margin: 7px 0;
    float: left;
    width: 80%;
    box-sizing: border-box;
}

.search-block button {
    border-radius: 0 10px 10px 0;
    margin: 7px 0;
    padding: 5px 10px;
    color: black;
    float: left;
    height: 26px;
    border: 0;
    line-height: 12px;
    width: 20%;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: 50px;
}

.nav-container .left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-nav li {
    position: relative;
}

.left-nav li:nth-of-type(1) {
    display: none;
}

.left-nav a {
    text-decoration: none;
    display: block;
    line-height: 1em;
    color: #000;
    display: block;
    padding: 0.5em 0 0.5em 0.5em;
}
.left-nav li a {
    padding: .25rem 1rem;
}

.left-nav a:hover {
    background-color: #ffeea9;
}

/*
.left-nav li:first-child a {
    padding-left: 0;
}

.left-nav li:last-child a {
    padding-right: 0;
}
*/

.current-menu-item > a {
    font-weight: bold;
    color: #ff3155;
}

.left-nav li .sub-menu {
    display: none;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    background: #bcffff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0 , 0 ,0.1);
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    border-radius: 0.5rem;
}

.menu-item-has-children:hover .sub-menu {
    display: block;
}

.sub-menu a {
    margin-left: 1em;
}

.current-menu-item > ul {
    display: block;
}

main {
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    float: right;
}

h1 {
    font-family: 'Pacifico', cursive;
}

main > h1 {
    margin-top: 0;
    font-family: 'Pacifico', cursive;
}

main h2 {
    margin-top: 0;
    color: black;
    font-family: 'Pacifico', cursive;
}

main > h3 {
    font-weight: normal;
    font-size: 1em;
    font-family: 'Pacifico', cursive;
    padding: 0.5em 1em;
    color: black;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0.3em;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.post img {
    max-width: 100%;
    height: auto;

}

article {
    width: 20%;
    float: left;
    height: 320px;
}

article a {
    display: block;
    max-width: 156px;
    padding: 3px;
    margin: auto;
    text-decoration: none;
    color: inherit;
}

article a:hover {
    background-color: #a6ffbd;
}

article img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 1px 3px #888;
    display: block;
    margin: auto;
}

article h4 {
    font-weight: normal;
    margin: 0.2em 0;
    padding: 0 0.2em;
}

article p {
    font-size: 0.7em;
    margin: 0.5em 0;
    padding: 0 0.2em;
}

.nappi {
    border: 0;
    display: block;
    border-radius: 6px;
    color: black;
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    cursor: pointer;
}

/*.post p {
    width: 50%;
    float: right;
    clear: right;
    padding: 1em;
    box-sizing: border-box;
    margin-top: 0;
}

.post p:nth-of-type(1) {
    float: left;
    padding: 0;
}*/

@media screen and (min-width: 641px) {
    .left-nav li {
        display: inline-block !important;
    }

    .left-nav > ul > li:nth-of-type(1) {
        display: none !important;
    }
}

@media screen and (min-width: 641px) and (max-width: 999px) {
    article {
        width: 33.3%;
    }
}

@media screen and (max-width: 640px) {
    .post img {
        display: block;
        margin: auto;
    }

    .banner {
        display: none;
    }

    .left-nav {
        width: 100%;
        text-align: center;
    }

    main {
        width: 100%;
    }

    .left-nav li {
        display: none;
        list-style: none;
    }

    .left-nav > ul > li:nth-of-type(1) {
        display: inline-block;
    }

    article {
        width: 50%;
    }

    .tunnus {
        width: 100%;
    }

    .nav-container {
        height: auto;
    }

    .main-header {
        height: auto;
    }

    #searchform {
        width: 80%;
        margin: 0 10%;
    }
}

